* {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-sizing: border-box;
}

.background_banner {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.container {
    display: flex;
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    text-align: center;
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
    flex: 30%;
    margin: 20px;
}

.menu {
    display: flex;
    flex: 70%;
    align-items: center;
    justify-content: flex-end;
}

.menu ul li {
    list-style-type: none;
    padding: 30px;
}

.link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.banner_text {
    text-transform: uppercase;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    letter-spacing: 3px;
    font-weight: 700;
}

.banner_text button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 12px 12px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    width: 200px;
}

.banner_text button:hover {
    background-color: orangered;
}

.fashion_collection h2 {
    margin: 38px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.cloth_details {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.cloth_text {
    margin: 40px 20px;
    text-align: center;
    box-shadow: 0 0 30px 10px #f0f0f0;
    padding: 20px;
    /* margin: 30px; */
    flex: 30%;
    /* flex: 33.333%; */
    position: relative;
    /* margin-bottom: 20px; */
    /* width: 100%;
background-color: #fff;
height: auto;
padding: 20px;
box-shadow: 0 0 30px 10px #f0f0f0;
margin-bottom: 20px; */
}

.cloth_text h3 {
    margin-top: 20px;
    font-size: 20px;
    /* text-align: center; */
}

.cloth_text p {
    font-size: 18px;
    margin: 15px;
    /* text-align: center; */
}

.cloth_text p span {
    color: orangered;
}

.cloth_text img {
    width: 100%;
    margin: 0 auto;
}

.buy_section {
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    margin: 20px;
    position: absolute;
    bottom: -20px;
    left: 10px;
    right: 10px;
    padding-bottom: 10px;
}

.buy_section a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.buy_section a span {
    color: orangered;
    font-weight: bolder;
    font-size: 20px;
}


/* footer section */

.footer_details {
    background-color: black;
    padding: 30px 0px;
}

.footer_logo {
    text-align: center;
}

.footer_logo img {
    margin-top: 40px;
}

.subscriber_input {
    text-align: center;
    color: white;
    width: 70%;
    margin: 0 auto;
}

input[type=email] {
    width: 80%;
    padding: 5px 0 5px 0;
    margin: 8px 0;
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    color: white;
}

.subscriber_input button {
    width: 10%;
    padding: 5px 0 5px 0;
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    color: orangered;
    text-transform: uppercase;
    text-align: left;
    margin-left: 10px;
    margin-top: 30px;
}

hr {
    width: 80%;
    color: white;
    margin: 10px auto;
}

.footer_details p {
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 40px;
}


/* media query */

@media screen and (max-width: 480px) {
    .container {
        display: block;
        width: 100%;
        background-color: black;
        left: 0;
        right: 0;
        position: absolute;
    }
    .logo {
        display: block;
        margin: 9px;
    }
    .banner_text {
        top: 88%;
    }
    .banner_text h1 {
        font-size: 14px;
    }
    .banner_text button {
        font-size: 16px;
        padding: 7px 4px;
    }
    .menu {
        justify-content: center;
        /* margin: 0; */
    }
    .menu ul li {
        padding: 4px 12px;
    }
    .cloth_details {
        flex-direction: column;
    }
    .fashion_collection h2 {
        font-size: 25px;
        margin-top: 64px;
    }
    .subscriber_input {
        display: flex;
        /* flex-direction: column; */
    }
    .subscriber_input button {
        margin-top: 12px;
        width: 75%;
    }
}

@media screen and (min-width: 480px) and (max-width:600px) {
    .container {
        display: block;
        width: 100%;
        background-color: black;
        left: 0;
        right: 0;
        position: absolute;
    }
    .banner_text {
        top: 70%;
    }
    .banner_text h1 {
        font-size: 17px;
    }
    .logo {
        display: block;
        margin: 9px;
    }
    .menu {
        /* margin: 10px; */
        justify-content: center;
    }
    .menu ul li {
        padding: 4px 12px;
    }
    .banner_text button {
        font-size: 17px;
        padding: 7px 7px;
    }
    .cloth_details {
        flex-direction: column;
    }
    .fashion_collection h2 {
        font-size: 30px;
        margin-top: 64px;
    }
    .subscriber_input {
        display: flex;
        /* flex-direction: column; */
    }
    .subscriber_input button {
        margin-top: 12px;
        width: 80%;
    }
}

@media screen and (min-width: 600px) and (max-width:992px) {
    .container {
        display: block;
        width: 100%;
        background-color: black;
        left: 0;
        right: 0;
        position: absolute;
    }
    .banner_text {
        top: 75%;
    }
    .banner_text h1 {
        font-size: 24px;
    }
    .logo {
        display: block;
        margin: 9px;
    }
    .menu {
        margin: 10px;
        justify-content: center;
    }
    .menu a {
        font-size: 25px;
    }
    .menu ul li {
        padding: 4px 12px;
    }
    .banner_text button {
        font-size: 17px;
        padding: 7px 7px;
    }
    /* .cloth_details {
flex-direction: column;
} */
    .fashion_collection h2 {
        font-size: 30px;
        margin-top: 64px;
    }
    .subscriber_input {
        display: flex;
    }
    .subscriber_input button {
        margin-top: 12px;
        width: 80%;
    }
}